<article class="movie-listing inline">
    <img src="{{photo}}" alt="" width="350" height="420" class="movie-listing-image"/>
    <p class="movie-title-text">
        {{title}}
    </p>
    <p class="movie-desc">
        {{desc}}
    </p>
</article>
