<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    <title>Marvel Fanbase</title>
    <meta charset="utf-8">
    <meta name="keywords" content="A community for Marvel fans everywhere!">
    <script src="/index.js" charset="utf-8" defer></script> <!--refers to the js for the home page-->
    <script src="movieTileTemplate.js" charset="utf-8" defer></script><!--allows access to createMovieTile in index.js-->
    <script src="https://cdn.jsdeliver.net/npm/handlebars@latest/lib/index.min.js" charset="utf-8" defer></script>
    <!--^Above script allows for use of handlebars templating-->
    <link rel="stylesheet" href="/index.css">

    <!--This is a 3rd-party stylesheet for search button icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- This is 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
  </head>

  <header>
    <nav class="marvel-logo">
      <div class="navbar-container">
        <div class="navbar-items">
	  <a id="nav-home" href="/">Home</a>
	  <a id="nav-movies" href="/movies">Movies</a>
	  <a id="nav-register" href="#CreateAccount">Create Account</a>
	  <a id="nav-signin" href="#SignIn">Sign In</a>
	  <div class="search-container">
	    <form action="/action_page.php">
	      <input type="text" id="nav-search-input" placeholder="Search..." name="search">
	      <button type="submit" id="nav-search-button"><i class="fa fa-search"></i></button>
	    </form>
	  </div>
        </div>
      </div>
    </nav>
  </header>

  <body>
    {{{body}}}
  </body>

  <footer class="footer">
    <div class="footer-content">
      <p class="footer-text">Footer text, maybe include our names and the year/class this was made for?</p>
    </div>
  </footer>

</html>
