<!DOCTYPE = html>
<html>
  <head>
  
    <meta charset="utf-8">
    <title>Marvel Fan Site</title>
    
    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="index.css" media="screen"> <!--refers to the css for the home page-->

    <script src="/index.js" charset="utf-8" defer></script> <!--refers to the js for the home page-->

  </head>

  <header>
    <h1><a href="/index.html">Site Title</a></h1>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem navlink">We</li>
	<li class="navitem navlink">Are</li>
	<li class="navitem navlink">Nav</li>
	<li class="navitem navlink">Items</li>
      </ul>
    </nav>
  </header>

  <body>
    {{{body}}}
  </body>
</html>
