<!--class for timeline-->
<h1>Chronological Order of Infinity Series</h1>

<div class="chronological-timeline">
    <img src="/assets/Timeline.png">
</div>

<h1 class="movie-section-title"><i>Top Rated Movies</i></h1>

<!--class for movie listings-->

<main class="movie-container">

    {{#each this}}
    {{#if title}}
    {{> movieTile}}
    {{/if}}
    {{/each}}

</main>

<!--class for marvel news feed-->

<article class="news-feed">
    <h1><i>Marvel News Feed</i></h1>
    <div class="articles">
        <h3>Articles</h3>
        <ul type=circle>
            <li><a href="https://www.marvel.com/articles/movies/marvel-studios-making-of-marvel-cinematic-universe" target="_blank">The Definitive Story of How Marvel Studios Created the Marvel Cinematic Universe </a></li>
            <li><a href="https://www.marvel.com/articles/movies/marvel-studios-celebrates-movies" target="_blank">Marvel Studios Celebrates the Movies</a></li>
            <li><a href="https://www.marvel.com/articles/movies/eternals-first-look-celebrate-movies" target="_blank">'Eternals First Look Reveals New Team of Super Heroes in Globetrotting Adventure</a></li>
        </ul>
    </div>
    <h3>Memes</h3>
    <div class="memes">

        <img class="meme" src="https://pm1.narvii.com/6313/4ad7ba5a92283bb466402b3be2ba78f782887897_hq.jpg" />
        <img class="meme" src="https://bestofcomicbooks.com/wp-content/uploads/2018/04/final-feature-98.jpg" />
        <img class="meme" src="https://funnypicsonly.com/wp-content/uploads/2018/06/Hilarious-Marvel-Memes-That-Will-Make-You-Laugh-21.jpg" />
    </div>
</article>
