<article class="movie-listing">
    <div class="movie-listing-image">
        <img src="{{photo}}" alt="" width="350" height="420" />
    </div>
    <div class="movie-title">
    <p class="movie-title-text">
        {{title}}
    </p>
    <p class="movie-desc">
        {{desc}}
    </p>
    </div>
</article>
