<h2>This is the movies page!</h2>

<<<<<<< HEAD
<main class="movie-container">
  {{#each this}}
    {{#if photo}}
      {{>movieTile}}
    {{/if}}
  {{/each}}
</main>
=======
<div class="movie-holder">
{{#each this}}
  {{#if photo}}
    {{>movieTile}}
  {{/if}}
{{/each}}
</div>
>>>>>>> a766883279f5f28ac82356a3ad2e3ef704fde1fd
