<link rel="stylesheet" href="/movie.css">
<h1 class="movie-section-title"><i>{{title}}</i></h1>

<!--class for movie listings-->

<main class="movie-container">

    <article class="movie-listing">
        <div class="movie-listing-image">
            <img src="{{photo}}" alt="" width="350" height="420" />
        </div>
        <div class="movie-title">
        <p class="movie-title-text">
            {{title}}
        </p>
        <p class="movie-desc">
            {{desc}}
        </p>
        </div>
    </article>
</main>

<main class="comments-section">

    <article class="comment">
        <div class="commenter-icon">
            <!-- The <i> tag below includes the comments icon from Font Awesome.  Do not directly style this element. -->
            <i class="fas fa-comments"></i>
        </div>
        <div class="comment-content">
            <p class="comment-text">
                I love this movie! Amazing!!!
            </p>
            <p class="comment-author">
                <a href="#">Spiderman-Lover</a>
            </p>
        </div>
    </article>

    <article class="comment">
        <div class="commenter-icon">
            <!-- The <i> tag below includes the comments icon from Font Awesome.  Do not directly style this element. -->
            <i class="fas fa-comments"></i>
        </div>
        <div class="comment-content">
            <p class="comment-text">
                Action-packed and had me on the edge of my seat! Loved it!
            </p>
            <p class="comment-author">
                <a href="#">fairygirl123</a>
            </p>
        </div>
    </article>

    <article class="comment">
        <div class="commenter-icon">
            <!-- The <i> tag below includes the comments icon from Font Awesome.  Do not directly style this element. -->
            <i class="fas fa-comments"></i>
        </div>
        <div class="comment-content">
            <p class="comment-text">
                It was okay... I've seen better.
            </p>
            <p class="comment-author">
                <a href="#">phil</a>
            </p>
        </div>
    </article>

</main>
