<h1 class="movie-section-title"><i>{{title}}</i></h1>

<!--class for movie listings-->

<main class="movie-container">

    <article class="movie-listing">
        <div class="movie-listing-image">
            <img src="{{photo}}" alt="" width="300" height="420" />
        </div>
        <p class="movie-desc">
            {{desc}}
        </p>
    </article>
</main>

<main class="comments-section">

    <article class="comment">
        <div class="commenter-icon">
            <!-- The <i> tag below includes the comments icon from Font Awesome.  Do not directly style this element. -->
            <i class="fas fa-comments"></i>
        </div>
        <div class="comment-content">
            <p class="comment-text">
                I love this movie! Amazing!!!
            </p>
            <p class="comment-author">
                <a href="#">Spiderman-Lover</a>
            </p>
        </div>
    </article>

    <article class="comment">
        <div class="commenter-icon">
            <!-- The <i> tag below includes the comments icon from Font Awesome.  Do not directly style this element. -->
            <i class="fas fa-comments"></i>
        </div>
        <div class="comment-content">
            <p class="comment-text">
                Action-packed and had me on the edge of my seat! Loved it!
            </p>
            <p class="comment-author">
                <a href="#">fairygirl123</a>
            </p>
        </div>
    </article>

    <article class="comment">
        <div class="commenter-icon">
            <!-- The <i> tag below includes the comments icon from Font Awesome.  Do not directly style this element. -->
            <i class="fas fa-comments"></i>
        </div>
        <div class="comment-content">
            <p class="comment-text">
                It was okay... I've seen better.
            </p>
            <p class="comment-author">
                <a href="#">phil</a>
            </p>
        </div>
    </article>

</main>

<main id="modal-comment">
    <div class="modal-comment-dialog">
        <div class="modal-comment-header">
            <h4>Post a comment!</h4>
        </div>
        <div class="modal-comment-body">
            <div class="comment-input-element">
                <label for="comment-text-input"></label>
                <textarea id="comment-text-input">Type here...</textarea> <!--Need to reset it when the user click it on the js-->
            </div>
        </div>
        <div class="modal-comment-footer">
            <button type="button" class="modal-comment-button">Post comment</button>
        </div>
    </div>
</main>
